<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">



</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header.svg" alt="logo-header.svg" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.svg" alt="logo-header.svg">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="logo-mobile">
                                    <a href="home.html">
                                        <img src="./img/logo-header.svg" alt="logo-header.svg">
                                    </a>
                                </div>
                                <ul class="header-list">
                                    <li class="current-menu-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Product</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Business</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">New & Event</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-act">
                            <div class="header-search">
                                <div class="header-search-icon">
                                    <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <section class="introdiction">
                <div class="container">
                    <div class="intro-wrapper">
                        <div class="columns">
                            <div class="column txt">
                                <div class="intro-inner">
                                    <p class="label tt-16">
                                        Introdiction
                                    </p>
                                    <h3 class="intro-title tt-36 f-semi t-capitalize  ">
                                        About IriTech
                                    </h3>
                                    <p class="desc tt-16">
                                        IriTech, Inc. was established in 2000 in USA with the ultimate goals to develop
                                        the
                                        most advanced iris recognition technology and products yet ubiquitous to the
                                        vast
                                        majority of consumers. <br>
                                        Our technology has created various impacts on biometrics market, and is one of
                                        very
                                        few iris providers who owns all in-house proprietary technologies vital for
                                        deploying any scalable end-to-end iris ecosystem.
                                    </p>
                                </div>
                            </div>
                            <div class="column tx">
                                <div class="intro-inner">
                                    <p class="title tt-36 f-semi  ">
                                        Customer-centric business <br>
                                        mindset powered by expert team
                                    </p>
                                    <p class="desc">
                                        Beside the headquarter in the U.S.A, IriTech also has offices in South Korea,
                                        Viet Nam and India to better serve customers all over the world in a timely and
                                        professional manner.
                                    </p>
                                    <div class="number" id="countup">
                                        <div class="number-box">
                                            <div class="counter" data-count="4"></div>
                                            <p class="tt-24 f-bold num-t">offices</p>
                                        </div>
                                        <div class="number-box" >
                                            <div class="df-num">
                                                <div class="counter" data-count="10"></div>
                                                <span>K</span>
                                            </div>
                                            <p class="tt-24 f-bold num-t">
                                                transaction
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="our-milestone">
                <div class="container">
                    <div class="miles-wrapper">
                        <div class="img ">
                            <div class="img-ania ">
                                <img src="./img/img-hinhgido-1.png" alt="img-hinhgido-1.png">
                                <div class="bg-img-main"></div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column tt">
                                <div class="head">
                                    <h3 class="miles-title tt-36 f-semi t-capitalize">
                                        Our Milestone
                                    </h3>

                                </div>
                            </div>
                            <div class="column txt">
                                <div class="miles-inner">
                                    <p class="desc tt-16">
                                        With more than 20 years of experience in iris recognition technology and
                                        top-ranked NIST1)–proven algorithms, IriTech has been trusted by many
                                        prestigious clients with the technology being deployed in multiple and
                                        multisector large scale projects
                                        ranging from governments to corporates due to its exceptional performance in
                                        tough environment. Being the first biometric manufacturer in the world receiving
                                        STQC certification for both enrollment and authentication device for Indian
                                        National ID
                                        project (UIDAI), IriTech maintains the leading role in this largest biometric
                                        project.
                                    </p>

                                    <div class="miles-tab c-tab">
                                        <div class="miles-head">
                                            <p class="tab-tt active" data-tabs="tab-1">
                                                Highlighted Award & Honor
                                            </p>
                                            <p class="tab-tt" data-tabs="tab-2" 
                                                data-aos-delay="300">
                                                Highlighted Partnership
                                            </p>
                                            <p class="tab-tt" data-tabs="tab-3" 
                                                data-aos-delay="400">
                                                Leadership
                                            </p>
                                            <p class="tab-tt" data-tabs="tab-4" 
                                                data-aos-delay="500">
                                                Highlighted Certification
                                            </p>
                                        </div>
                                        <div class="miles-content">
                                            <div class="tab-con tab-1 active">
                                                <div class="content mona-content tt-16">
                                                    <p>
                                                        Took leadership role in developing standards for iris
                                                        recognition technology, especially U.S. (ANSI)2) and
                                                        international (ISO)3) standards
                                                    </p>
                                                    <p>
                                                        Developed world’s first mobile device prototype with on-board
                                                        iris recognition system
                                                    </p>
                                                    <p>
                                                        Developed Gemini-Core, the world’s first iris camera OEM module
                                                        of 50 cm standoff distance
                                                    </p>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen book.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="tab-con tab-2">
                                                <div class="content mona-content">
                                                    <p>
                                                        Took leadership role in developing standards for iris
                                                        recognition technology, especially U.S. (ANSI)2) and
                                                        international (ISO)3) standards
                                                    </p>
                                                    <p>
                                                        Developed world’s first mobile device prototype with on-board
                                                        iris recognition system
                                                    </p>
                                                    <p>
                                                        Developed Gemini-Core, the world’s first iris camera OEM module
                                                        of 50 cm standoff distance
                                                    </p>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen book.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="tab-con tab-3">
                                                <div class="content mona-content">
                                                    <p>
                                                        Took leadership role in developing standards for iris
                                                        recognition technology, especially U.S. (ANSI)2) and
                                                        international (ISO)3) standards
                                                    </p>
                                                    <p>
                                                        Developed world’s first mobile device prototype with on-board
                                                        iris recognition system
                                                    </p>
                                                    <p>
                                                        Developed Gemini-Core, the world’s first iris camera OEM module
                                                        of 50 cm standoff distance
                                                    </p>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen book.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="tab-con tab-4">
                                                <div class="content mona-content">
                                                    <p>
                                                        Took leadership role in developing standards for iris
                                                        recognition technology, especially U.S. (ANSI)2) and
                                                        international (ISO)3) standards
                                                    </p>
                                                    <p>
                                                        Developed world’s first mobile device prototype with on-board
                                                        iris recognition system
                                                    </p>
                                                    <p>
                                                        Developed Gemini-Core, the world’s first iris camera OEM module
                                                        of 50 cm standoff distance
                                                    </p>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen book.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <section class="more-about">
                <div class="container-full">
                    <div class="about-wrapper">
                        <div class="head">
                            <p class="label tt-16  ">
                                Discover
                            </p>
                            <h3 class="about-title tt-36 f-semi t-capitalize  ">
                                More About Us
                            </h3>
                            <a href="#" class="arrow">
                                <img src="./img/svg/icon-right-m.svg" alt="icon-right-m.svg">
                            </a>
                        </div>

                        <div class="swiper-custom">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" >
                                        <div class="about-box">
                                            <div class="img img-w-100">
                                                <img src="./img/img-more-about-1.png" alt="img-more-about-1.png">
                                            </div>
                                            <div class="content">
                                                <a href="#" class="about-link tt-18 f-bold">
                                                    Discover Our
                                                    Technology and
                                                    Patents
                                                    <img src="./img/svg/icon-right-m.svg" alt="icon-right-m.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="about-box">
                                            <div class="img img-w-100">
                                                <img src="./img/img-more-about-2.png" alt="img-more-about-2.png">
                                            </div>
                                            <div class="content">
                                                <a href="#" class="about-link tt-18 f-bold">
                                                    Discover Our
                                                    Technology and
                                                    Patents
                                                    <img src="./img/svg/icon-right-m.svg" alt="icon-right-m.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="about-us sec-80" >
                <div class="container">
                    <div class="about-wrapper">
                        <div class="swiper-custom">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="about-box">
                                            <div class="columns">
                                                <div class="column ig">
                                                    <div class="img img-w-100">
                                                        <img src="./img/img-about-1.png" alt="img-about-1.png">
                                                    </div>
                                                </div>
                                                <div class="column txt">
                                                    <div class="content">
                                                        <img src="./img/svg/icon-quote.svg" alt="icon-quote.svg">
                                                        <p class="desc tt-24 f-medium">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Maecenas
                                                            porttitor congue massa. Fusce posuere, magna sed pulvinar
                                                            ultricies,
                                                            purus lectus malesuada libero, sit amet commodo magna eros
                                                            quis
                                                            urna.
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Lorem
                                                            ipsum
                                                            dolor sit amet, consectetuer adipiscing elit. Maecenas
                                                            porttitor
                                                            congue
                                                            massa. Fusce posuere, magna sed pulvinar ultricies, purus
                                                            lectus
                                                            malesuada libero, sit amet commodo magna eros quis urna.
                                                            Lorem ipsum
                                                            dolor sit amet, consectetuer adipiscing elit. Lorem Ipsum is
                                                            simply
                                                            dummy text of the printing and typesetting industry. Lorem
                                                            Ipsum has
                                                            been the industry's standard dummy text
                                                        </p>

                                                        <p class="name tt-16 f-bold t-capitalize">
                                                            Dr. Daehoon Kim
                                                        </p>

                                                        <p class="tt-16 job">
                                                            CEO of Iritech, Inc
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="about-box">
                                            <div class="columns">
                                                <div class="column ig">
                                                    <div class="img img-w-100">
                                                        <img src="./img/img-about-1.png" alt="img-about-1.png">
                                                    </div>
                                                </div>
                                                <div class="column txt">
                                                    <div class="content">
                                                        <img src="./img/svg/icon-quote.svg" alt="icon-quote.svg">
                                                        <p class="desc tt-24 f-medium">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Maecenas
                                                            porttitor congue massa. Fusce posuere, magna sed pulvinar
                                                            ultricies,
                                                            purus lectus malesuada libero, sit amet commodo magna eros
                                                            quis
                                                            urna.
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Lorem
                                                            ipsum
                                                            dolor sit amet, consectetuer adipiscing elit. Maecenas
                                                            porttitor
                                                            congue
                                                            massa. Fusce posuere, magna sed pulvinar ultricies, purus
                                                            lectus
                                                            malesuada libero, sit amet commodo magna eros quis urna.
                                                            Lorem ipsum
                                                            dolor sit amet, consectetuer adipiscing elit. Lorem Ipsum is
                                                            simply
                                                            dummy text of the printing and typesetting industry. Lorem
                                                            Ipsum has
                                                            been the industry's standard dummy text
                                                        </p>

                                                        <p class="name tt-16 f-bold t-capitalize">
                                                            Dr. Daehoon Kim
                                                        </p>

                                                        <p class="tt-16 job">
                                                            CEO of Iritech, Inc
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="about-box">
                                            <div class="columns">
                                                <div class="column ig">
                                                    <div class="img img-w-100">
                                                        <img src="./img/img-about-1.png" alt="img-about-1.png">
                                                    </div>
                                                </div>
                                                <div class="column txt">
                                                    <div class="content">
                                                        <img src="./img/svg/icon-quote.svg" alt="icon-quote.svg">
                                                        <p class="desc tt-24 f-medium">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Maecenas
                                                            porttitor congue massa. Fusce posuere, magna sed pulvinar
                                                            ultricies,
                                                            purus lectus malesuada libero, sit amet commodo magna eros
                                                            quis
                                                            urna.
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Lorem
                                                            ipsum
                                                            dolor sit amet, consectetuer adipiscing elit. Maecenas
                                                            porttitor
                                                            congue
                                                            massa. Fusce posuere, magna sed pulvinar ultricies, purus
                                                            lectus
                                                            malesuada libero, sit amet commodo magna eros quis urna.
                                                            Lorem ipsum
                                                            dolor sit amet, consectetuer adipiscing elit. Lorem Ipsum is
                                                            simply
                                                            dummy text of the printing and typesetting industry. Lorem
                                                            Ipsum has
                                                            been the industry's standard dummy text
                                                        </p>

                                                        <p class="name tt-16 f-bold t-capitalize">
                                                            Dr. Daehoon Kim
                                                        </p>

                                                        <p class="tt-16 job">
                                                            CEO of Iritech, Inc
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="columns">
                        <div class="column ig">
                            <div class="logo">
                                <a href="#">
                                    <img src="./img/logo-header.svg" alt="logo-header.svg">
                                </a>
                            </div>
                        </div>
                        <div class="column txt">
                            <div class="ft-inner">
                                <div class="ft-box ft-wim">
                                    <p class="title tt-18 f-semi">
                                        About us
                                    </p>
                                    <div class="ft-list">
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Product
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Business
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                News & event
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Support
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#" class="ft-link">
                                                Contact
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ft-box">
                                    <p class="title tt-18 f-semi">
                                        Contact us
                                    </p>
                                    <div class="ft-list">
                                        <div class="ft-item">
                                            <p class="ft-text">
                                                Headquarters: <a href="#" class="ft-link">
                                                    111166 Fairfax Boulevard, Suite 302, Fairfax, VA 22030, U.S.A
                                                </a>
                                            </p>
                                        </div>
                                        <div class="ft-item">
                                            <p class="ft-text">
                                                Tel: <a href="#" class="ft-link">
                                                    +1.703.877.2135
                                                </a>
                                                -
                                                Fax: <a href="#" class="ft-link">
                                                    +1.703.877.2136
                                                </a>
                                            </p>
                                        </div>
                                        <div class="ft-item">
                                            <p class="ft-link">
                                                Email: <a href="#" class="ft-link">
                                                    info@iritech.com
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ft-box ft-wm">
                                    <div class="social">
                                        <a href="#" class="social-item">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="social-item">
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="social-item">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="social-item">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <a href="#" class="tt-login">
                                        Login in
                                    </a>
                                    <p class="copy-right">
                                        Copyright © Iritech, Inc.
                                        All rights reserved.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>