<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">



</head>

<body>
    <div class="wrapper" style="height: 3000px;">
        <div id="page-loading">
            <img src="img/logo-header.svg" alt="logo-header.svg" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.svg" alt="logo-header.svg">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="logo-mobile">
                                    <a href="home.html">
                                        <img src="./img/logo-header.svg" alt="logo-header.svg">
                                    </a>
                                </div>
                                <ul class="header-list">
                                    <li class="current-menu-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Product</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Business</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">New & Event</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-act">
                            <div class="header-search">
                                <div class="header-search-icon">
                                    <img src="./img/svg/icon-search.svg" alt="icon-search.svg">
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banners sec-80">
                <div class="banner-wrapper">
                    <div class="swiper-custom">
                        <div class="swiper dynamic">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banner-inner">
                                        <div class="container">
                                            <div class="columns">
                                                <div class="column txt">
                                                    <div class="banner-box">
                                                        <h3 class="title t-capitalize f-semi tt-36 ">
                                                            IriTech’s Best <br>
                                                            Line product
                                                        </h3>
                                                        <p class="desc tt-16">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry.
                                                            Lorem Ipsum has
                                                        </p>
                                                        <a href="#" class="view-more btn">
                                                            View more
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="column ig">
                                                    <div class="banner-ig">
                                                        <p class="tt">
                                                            IrI
                                                        </p>
                                                        <div class="tt-big">
                                                            <p>s</p>
                                                            <img src="./img/img-hinhgido.png" alt="img-hinhgido.png"
                                                                class="banner-img">
                                                        </div>
                                                        <p class="tt">
                                                            HIELd
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-inner">
                                        <div class="container">
                                            <div class="columns">
                                                <div class="column txt">
                                                    <div class="banner-box">
                                                        <h3 class="title t-capitalize f-semi tt-36 ">
                                                            IriTech’s Best <br>
                                                            Line product
                                                        </h3>
                                                        <p class="desc tt-16">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry.
                                                            Lorem Ipsum has
                                                        </p>
                                                        <a href="#" class="view-more btn">
                                                            View more
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="column ig">
                                                    <div class="banner-ig">
                                                        <p class="tt">
                                                            IrI
                                                        </p>
                                                        <div class="tt-big">
                                                            <p>s</p>
                                                            <img src="./img/img-hinhgido.png" alt="img-hinhgido.png"
                                                                class="banner-img">
                                                        </div>
                                                        <p class="tt">
                                                            HIELd
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-inner">
                                        <div class="container">
                                            <div class="columns">
                                                <div class="column txt">
                                                    <div class="banner-box">
                                                        <h3 class="title t-capitalize f-semi tt-36 ">
                                                            IriTech’s Best <br>
                                                            Line product
                                                        </h3>
                                                        <p class="desc tt-16">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry.
                                                            Lorem Ipsum has
                                                        </p>
                                                        <a href="#" class="view-more btn">
                                                            View more
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="column ig">
                                                    <div class="banner-ig">
                                                        <p class="tt">
                                                            IrI
                                                        </p>
                                                        <div class="tt-big">
                                                            <p>s</p>
                                                            <img src="./img/img-hinhgido.png" alt="img-hinhgido.png"
                                                                class="banner-img">
                                                        </div>
                                                        <p class="tt">
                                                            HIELd
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="our-value sec-80 --pt-0">
                <div class="container">
                    <div class="value-wrapper">
                        <div class="columns">
                            <div class="column tt">
                                <h3 class="value-title tt-36 f-semi t-capitalize">
                                    Our Value
                                </h3>
                            </div>
                            <div class="column txt">
                                <div class="value-inner">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="value-box">
                                                <p class="title tt-18 f-semi">
                                                    Mission
                                                </p>
                                                <p class="desc tt-16">
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas
                                                    porttitor
                                                    congue massa. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                    elit.
                                                    Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar
                                                    ultricies, purus lectus malesuada libero, sit amet commodo magna
                                                    eros quis
                                                    urna lorem ipsum.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="value-box">
                                                <p class="title tt-18 f-semi">
                                                    Vision
                                                </p>
                                                <p class="desc tt-16">
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas
                                                    porttitor
                                                    congue massa. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                    elit.
                                                    Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar
                                                    ultricies, purus lectus malesuada libero, sit amet commodo magna
                                                    eros quis
                                                    urna lorem ipsum.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <section class="portfolio sec-80 --pt-0">
                <div class="container">
                    <div class="port-wrapper c-tab">
                        <div class="port-head">
                            <h3 class="port-title tt-36 f-semi t-capitalize">
                                Product <br>
                                Portfolio
                            </h3>
                            <div class="tab-head">
                                <p class="tab-tt active" data-tabs="tab-1">
                                    Hardware
                                </p>
                                <p class="tab-tt" data-tabs="tab-2">
                                    Software
                                </p>
                                <p class="tab-tt" data-tabs="tab-3">
                                    Solution
                                </p>
                            </div>
                        </div>
                        <div class="port-content">
                            <div class="tab-con tab-1 active">
                                <div class="port-box">
                                    <div class="img col">
                                        <img src="./img/img-hdad-1.png" alt="img-hdad-1.png">
                                    </div>
                                    <div class="content col">
                                        <p class="title tt-20 f-semi">
                                            Cost-effective and <br>
                                            exceptional performance
                                        </p>
                                        <p class="desc tt-16">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor
                                            congue massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                            Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar
                                            ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis
                                            urna lorem ipsum.
                                        </p>
                                        <a href="#" class="view-more btn">
                                            View more
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-con tab-2">
                                <div class="port-box">
                                    <div class="img col">
                                        <img src="./img/img-hdad-1.png" alt="img-hdad-1.png">
                                    </div>
                                    <div class="content col">
                                        <p class="title tt-20 f-semi">
                                            Cost-effective and <br>
                                            exceptional performance
                                        </p>
                                        <p class="desc tt-16">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor
                                            congue massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                            Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar
                                            ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis
                                            urna lorem ipsum.
                                        </p>
                                        <a href="#" class="view-more btn">
                                            View more
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-con tab-3">
                                <div class="port-box">
                                    <div class="img col">
                                        <img src="./img/img-hdad-1.png" alt="img-hdad-1.png">
                                    </div>
                                    <div class="content col">
                                        <p class="title tt-20 f-semi">
                                            Cost-effective and <br>
                                            exceptional performance
                                        </p>
                                        <p class="desc tt-16">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor
                                            congue massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                            Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar
                                            ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis
                                            urna lorem ipsum.
                                        </p>
                                        <a href="#" class="view-more btn">
                                            View more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="case-studies">
                <div class="container">
                    <div class="case-wrapper">
                        <div class="columns">
                            <div class="column tx">
                                <div class="case-tt">
                                    <h3 class="title tt-36 f-semi t-capitalize ">
                                        Case Studies
                                    </h3>
                                    <a href="#" class="view-more btn">
                                        View more
                                    </a>
                                </div>
                            </div>
                            <div class="column txt">
                                <p class="desc tt-16">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue
                                    massa. Lorem ipsum dolor sit a met, consectetuer adipiscing elit. Maecenas porttitor
                                    congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada
                                    libero, sit amet commodo magna eros quis urna lorem ipsum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="news-event sec-80">
                <div class="container">
                    <div class="news-wrapper">
                        <h3 class="news-title tt-36 f-semi t-capitalize">
                            News & Events
                        </h3>
                        <div class="columns">
                            <div class="column txt">
                                <div class="box">
                                    <p class="desc tt-16">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has Lorem ipsum dolor sit amet, consectet
                                    </p>
                                </div>
                            </div>

                            <div class="column slide">
                                <div class="swiper-custom">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="news-inner">
                                                    <div class="img img-w-100">
                                                        <img src="./img/img-news.png" alt="img-news.png">
                                                    </div>
                                                    <div class="content">
                                                        <a class="tt tt-16 f-semi" title="Lorem ipsum dolor sit amet">
                                                            Lorem ipsum dolor sit amet
                                                        </a>
                                                        <p class="date tt-12 f-italic">
                                                            01, May, 2021
                                                        </p>
                                                        <p class="desc tt-16">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Maecenas porttitor congue massa. Lorem ipsum dolor sit amet,
                                                            Lorem ipsum dolor sit
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-inner">
                                                    <div class="img img-w-100">
                                                        <img src="./img/img-news.png" alt="img-news.png">
                                                    </div>
                                                    <div class="content">
                                                        <a href="#" class="tt tt-16 f-semi" title="Lorem ipsum dolor sit amet">
                                                            Lorem ipsum dolor sit amet
                                                        </a>
                                                        <p class="date tt-12 f-italic">
                                                            01, May, 2021
                                                        </p>
                                                        <p class="desc tt-16">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                            Maecenas porttitor congue massa. Lorem ipsum dolor sit amet,
                                                            Lorem ipsum dolor sit
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </main>
        <footer class="footer">
            <div class="test">

            </div>
        </footer>
        <!-- cart popup -->
        <div class="cart-popup">
            <div class="bg-cart"></div>
            <div class="box-cart">
                <div class="wrapper-box-cart">
                    <div class="hd-box-cart">
                        <h3 class="title-name">Shopping Cart</h3>
                        <button class="btn-close">Close</button>
                    </div>
                    <div class="container-boxcart">
                        <div class="product-list">
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />

                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />
                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />
                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-boxcart">
                        <div class="wrapper-footer-boxcart">
                            <div class="box-sum-cart">
                                <p class="cart-sum-title">Tổng :</p>
                                <p class="cart-sum">1,630,000VNĐ</p>
                            </div>
                            <div class="cart-link">
                                <a href="#" class="btn btn-checkout">CHECKOUT</a>
                                <a href="#" class="btn btn-yourcart">YOUR CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
        <!-- scroll top 2 -->
        <!-- <div class="scroll-top-progress">
            <svg height="100%" width="100%" viewBox="-1 -1 102 102">
                <path class="animated-circle" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 60.5547;"></path>
            </svg>
        </div> -->
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>