.breadcrumb {
    width: 100%;

    .breadcrumb-menu {
        display: flex;
        // padding: 10px 0;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    content: '\f105  ';
                    font-family: "Fontawesome";
                    // font-size: 14px;
                    padding-right: 8px;
                }

                padding-left: 12px;
            }

            &.current{
                color: $main-cl;
            }

            a {
                font-size: 14px;
                transition: all .3s ease;


                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}
