.pagination {
    margin-top: 30px;
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
		margin: 0 3.5px;

        .page-numbers {
            width: 44px;
            height: 44px;
            border-radius: 6px;
            transition: all .3s ease;
            @include lh(24, 14);
            @include flex-mid;
			background-color: $w-cl;
            @include max-media($bk-576){
                width: 34px;
                height: 34px;
            }

            &.current {
                background-color: $main-cl;
                color: $t-w-cl;
                border: 1px solid transparent;
                font-weight: bold;

            }

            &:hover {
                background-color: $main-cl;
                color: $t-w-cl;
            }
        }

		.page-dots{
			margin: 0 15px;
            @include max-media($bk-576){
                margin: 0 10px;
            }
		}

        .page-arrow {
            width: 44px;
            height: 44px;
			border-radius: 6px;
            @include flex-mid;
            font-size: 16px;
            transition: all .3 ease;
			background-color: $w-cl;
            @include max-media($bk-576){
                width: 34px;
                height: 34px;
            }

            img{
                @include max-media($bk-576){
                    width: 12px;
                }
            }

            &:hover {
                background-color: $main-cl;
                color: $t-w-cl;

				img{
					filter: brightness(0) invert(1);
				}
            }
        }
    }
}