.client-partners {
    overflow: hidden;
    .clp-wrapper {
        background-color: $b-cl;
        color: $w-cl;

        .clp-wrap {
            max-width: 1000px;
            margin: 0 auto;
        }

        .clp-title {
            margin-bottom: 20px;

            @include max-media($bk-d-768) {
                margin-bottom: 10px;
            }
        }

        .clp-desc {
            line-height: 1.5;
        }
    }

    .clp-head {
        text-align: center;
        max-width: 950px;
        margin: 0 auto;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            @include max-media($bk-1200){
                margin-bottom: 15px;
            }
            @include max-media($bk-576){
                margin-bottom: 10px;
            }
        }

        .arrow{
            margin-right: 20px;
        }
    }

    .clp-main{
        margin-top: 40px;
        @include max-media($bk-d-1200){
            margin-top: 30px;
        }
        @include max-media($bk-576){
            margin-top: 20px;
        }
    }

    .column{
        width: calc(100% / 4);
        @include max-media($bk-d-992){
            width: calc(100% / 3);
        }
        @include max-media($bk-576){
            width: 50%;
        }
    }

    .clp-box{
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        border-radius: 20px;
        background-color: $w-cl;
        transition: all .3s ease;
        &:hover{
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
            border-color: transparent;
        }

        .clp-img{
            padding: 24px 30px;
            display: block;
            @include max-media($bk-d-1200){
                padding: 20px 30px;
            }
            @include max-media($bk-d-992){
                padding: 16px 30px;
            }
            @include max-media($bk-576){
                padding: 12px 30px;
            }
            img{
                margin: 0 auto;
                object-fit: cover;
            }
        }
    }





}