.overview{
    overflow: hidden;
    position: relative;
    .columns{   
        justify-content: space-between;
        align-items: center;
    }
    
    .column{
        &.tx{
            width: calc(100% /12 * 3);
            @include max-media($bk-d-1440){
                width: calc(100% / 12 * 4);
            }
            @include max-media($bk-d-992){
                width: 100%;
            }
        }   

        &.txt{
            width: calc(100% / 12 * 8);
            @include max-media($bk-d-992){
                width: 100%;
            }
        }
    }

    .img{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-60% , -50%);
        @include max-media($bk-d-992){
            opacity: .4;
        }
    }
    

    .label{
        margin-bottom: 5px;
        @include min-media($bk-992){
            color: $w-cl;
        }
    }

    .over-title{
        line-height: 1.5;
    }

    .mona-content{
        .--mt-0{
            margin-top: 0;
        }
    }

    .box-mona{
        margin-top: 30px;
        @include max-media($bk-d-1200){
            margin-top: 20px;
        }
        @include max-media($bk-d-992){
            margin-top: 15px;
        }
        .tt{
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}

.technology{
    background-color: $b-cl;
    color: $w-cl;
    overflow: hidden;
    .columns{
        justify-content: space-between;
    }

    .column{
        &.tx{
            width: calc(100% / 12 * 3);
            @include max-media($bk-d-1200){
                width: calc(100% / 12 * 4);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.txt{
            width: calc(100% /12 * 8);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }
    
    .head{
        position: relative;
        height: 100%;
        &::before{
            content: '';
            width: 1px;
            // height: 100%;
            background-color: $w-cl;
            position: absolute;
            top: 140px;
            bottom: 30px;
            left: 0;
            @include max-media($bk-d-992){
                top: 110px;
            }
            @include max-media($bk-d-768){
                display: none;
            }
        }
    }

    .title{
        display: inline-block;
        br{
            @include max-media($bk-d-768){
                display: none;
            }
        }
    }

    .arrow{
        width: 30px;
        height: 30px;
        background-color: $main-cl;
        color: $w-cl;
        border-radius: 100%;
        @include flex-mid;
        display: inline-flex;
        margin-left: 10px;
        transition: all .3s ease;
        &:hover {
            transform: translateX(10px) rotate(360deg) ;
            background-color: $w-cl;
            
            img{
                filter: none;
            }
        }

        img{
            filter: brightness(0) invert(1);
        }
    }
    
    .content{
        p{
            line-height: 1.5;
            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.patents{
    overflow: hidden;
    .column{
        &.tx{
            width: calc(100% /12 * 4);
            @include max-media($bk-d-992){
                width: 100%;
            }
        }

        &.txt{
            width: calc(100% /12 * 8);
            @include max-media($bk-d-992){
                width: 100%;
            }
        }
    }

    .title{
        margin-bottom: 30px;
        @include max-media($bk-d-1200){
            margin-bottom: 20px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 15px;
        }
        br{
            @include max-media($bk-d-992){
                display: none;
            }
        }
    }
    .patents-say{
        .ml-auto{
            margin-left: auto;
        }
    }
    .say{
        line-height: 1.5;
        padding-left: 34px;
        @include max-media($bk-d-1200){
            font-size: 20px;
        }
        @include max-media($bk-d-992){
            font-size: 18px;
        }
    }

    .mona-content{
        p{
            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
        
    }

    .mona-box{
        padding-left: 70px;
        @include max-media($bk-d-1440){
            padding-left: 50px;
        }
        @include max-media($bk-d-1200){
            padding-left: 30px;
        }
    }
}