.introdiction {
    padding: 120px 0 150px;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        width: 1px;
        height: 111px;
        background-color: $b-cl;
        position: absolute;
        bottom: 25px;
        left: calc((100vw - 1540px) / 2 + 11px);
    }

    &::after {
        content: '';
        width: 444px;
        height: 444px;
        border-radius: 100%;
        background-color: #EBEBEB;
        @include pos-mid;
        z-index: -1;
    }

    .columns {
        justify-content: space-between;
        align-items: center;
    }

    .column {
        &.txt {
            width: calc(100% / 12 * 5 + 30px);
        }

        &.tx {
            width: calc(100% / 12 * 6);
        }
    }

    .label {
        margin-bottom: 5px;
    }

    .intro-title {
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .desc {
        line-height: 1.5;
    }

    .title {
        margin-bottom: 22px;
        line-height: 1.2;
    }

    .number {
        display: flex;
        align-items: center;
    }

    .number-box {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            margin-left: 40px;
        }

        .counter {
            @include fz-64;
            color: $main-cl;
            font-weight: 600;
        }

        .num-t {
            padding-left: 10px;
        }
    }



    .df-num {
        display: flex;
        align-items: center;
        @include fz-64;
        font-weight: 600;
        color: $main-cl;

        span {
            position: relative;

            &::after {
                content: '+';
            }
        }
    }
}

.our-milestone {
    overflow: hidden;
    padding-bottom: 120px;
    position: relative;

    .columns {
        justify-content: space-between;
    }

    .column {
        &.tt {
            width: calc(100% / 12 * 3);
        }

        &.txt {
            width: calc(100% / 12 * 8);
        }
    }

    .head {
        position: relative;
        height: 100%;
    }

    .miles-title {
        position: relative;
        width: max-content;
        z-index: 0;

        &::after {
            content: '';
            width: 55px;
            height: 55px;
            border-radius: 100%;
            background-color: rgba($color: $main-cl, $alpha: .4);
            @include pos-mid;
            z-index: -1;
        }
    }

    .img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        transform: translateY(180px);
        transition: all .3s ease;

        &::after {
            content: '';
            width: 520px;
            height: 520px;
            border-radius: 100%;
            background-color: #B72424;
            @include pos-mid;
            z-index: -1;
            top: 60%;
        }
    }

    .desc {
        line-height: 1.5;
    }

    .miles-tab {
        margin-top: 70px;
    }

    .miles-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $b-cl;
        padding-bottom: 8px;
    }

    .tab-tt {
        transition: all .3s ease;
        @include fz-18;
        font-weight: 600;
        cursor: pointer;

        &.active {
            color: $main-cl;

        }
    }

    .miles-content {
        margin-top: 30px;
    }

    .tab-con {
        display: none;

        &.active {
            display: block;
            animation: OutIn 1s;
        }
    }

    .mona-content {
        p {
            line-height: 1.5;
        }
    }

}

.more-about {
    background-color: $b-cl;
    color: $w-cl;   
    .container-full{
        padding: 0;
    }

    .about-wrapper {
        display: flex;
    }

    .head {
        width: calc(100% / 3);
        padding-left: calc((100% - 1570px) / 2);
        padding-top: 80px;
    }

    .label{
        margin-bottom: 5px;
    }
    .about-title{
        margin-bottom: 30px;
    }

    .arrow{
        width: 30px;
        height: 30px;
        background-color: $main-cl;
        border-radius: 100%;
        @include flex-mid;
        img{
            filter: brightness(0) invert(1);
        }
    }





    .swiper-custom {
        width: calc(100% / 3 * 2);
    }

    .swiper-slide {
        width: calc(100% / 2);
    }

    .about-box {
        .img {
            position: relative;
            &::after {
                content: '';
                background-color: rgba($color: $b-cl, $alpha: .4);
                @include pos-full;
            }
        }

        .content {
            position: absolute;
            top: 50%;
            left: 70px;
            transform: translateY(-50%);
        }

        .about-link {
            display: block;
            line-height: 1.5;
            max-width: 180px;
            transition: all .3s ease;
            position: relative;
            &:hover{
                color: $main-cl;
                img{
                    transform: translateX(10px);
                    filter: none;
                }
            }

            img{
                display: inline-block;
                margin-left: 10px;
                transition:  all .3s ease;
                filter: brightness(0) invert(1);
                transition: all .3s ease;
            }
        }
    }


}

.about-us {
    overflow: hidden;

    .columns {
        justify-content: space-between;
    }

    .column {
        &.ig {
            width: calc(100% / 12 * 3);
        }

        &.txt {
            width: calc(100% / 12 * 8);
        }
    }

    .img {
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
    }

    .content {
        img {
            margin-bottom: 11px;
        }
    }

    .desc {
        margin-bottom: 30px;
        line-height: 1.5;
    }

    .name {
        margin-bottom: 10px;
    }

    .job {
        margin-bottom: 20px;
    }

    .swiper-pagination {
        width: auto;
        left: calc(100% / 12 * 4 + 10px);

        .swiper-pagination-bullet {
            width: 37px;
            height: 3px;
            background-color: #C4C4C4;
            border-radius: 0;
            opacity: 1;

            &-active {
                background-color: $main-cl;
            }
        }
    }

    .swiper-slide {
        transition: all .3s ease;
        @include hidden;

        &-active {
            @include visible;
        }
    }
}