.client-partners{
    .clp-wrapper{
        background-color: $b-cl;
        color: $w-cl;

        .clp-wrap{
            max-width: 1000px;
            margin: 0 auto;
        }

        .clp-title{
            margin-bottom: 20px;
        }

        .clp-desc{
            line-height: 1.5;
        }
    }

    

}