.global-business{
    overflow: hidden;
    .txt-wrapper{
        background-color: $b-cl;
        color: $w-cl;
        padding: 155px 0;
        @include  max-media($bk-d-1440){
            padding: 120px 0 100px;
        }
        @include max-media($bk-d-1200){
            padding: 40px 0;
        }
        @include max-media($bk-d-992){
            padding: 30px 0;
        }

        .columns{
            @include max-media($bk-d-1200){
                align-items: center;
            }
            @include max-media($bk-d-768){
                flex-direction: column-reverse;
            }
        }

        .column{
            width: 50%;
            position: relative;
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        .labeL{
            margin-bottom: 2px;
        }

        .title{
            margin-bottom: 30px;
            display: inline-block;
            @include max-media($bk-d-1200){
                margin-bottom: 20px;
            }

            br{
                @include max-media($bk-d-768){
                    display: none;
                }
            }
        }

        .arrow{
            margin-left: 10px;
        }

        .desc{
            line-height: 1.5;
        }

        .img{
            position: absolute;
            top: -25%;
            right: 0;
            @include max-media($bk-d-1200){
                position: static;
            }
        }
    }


    .box-wrap{
        padding-top: 85px;
        @include max-media($bk-d-1200){
            padding-top: 40px;
        }
        .gl-text{
            max-width: 660px;
            position: relative;
            padding-left: 29px;
            line-height: 1.5;
            margin-bottom: 40px;
            margin-left: calc(100%  / 12);
            @include max-media($bk-d-992){
                margin-bottom: 20px;
            }
            @include max-media($bk-d-768){
                margin-left: 0;
                padding-left: 15px;
            }
            
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $main-cl;
                width: 1px;
                height: calc(100% - 30px);
            }
        }

        .mona-content{
            columns: 2;
            column-gap: 30px;
            line-height: 1.5;
            @include max-media($bk-576){
                columns: 1;
            }
            p{
                margin: 0;
                &:first-child{
                    @include max-media($bk-576){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }   
}

.global-pst{
    overflow: hidden;
    display: none;
    .columns{
        justify-content: space-between;
    }

    .column{
        &.say{
            width: calc(100% / 12 * 5);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.txt{
            width: calc(100% / 12 * 6);
            @include max-media($bk-d-992){
                width: calc(100% / 12  * 6.5);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }

    .global-inner{
        max-width: 420px;
        margin-left: auto;
        @include max-media($bk-d-768){
            max-width: 100%;
            margin-left: 0;
        }
    }

    .ig-icon-l{
        transform: translateX(-100%);
        @include max-media($bk-d-1200){
            transform: none;
        }
    }
    .ml-a{
        margin-left: auto;
    }

    .desc{
        line-height: 1.5;
    }

    
}