.applications{
    overflow: hidden;
    .columns{
        margin: -15px -50px;
        @include max-media($bk-d-1440){
            margin: -15px -40px;
        }
        @include max-media($bk-576){
            margin: -10px;
        }
    }
    .column{
        width: calc(100% / 3);
        padding: 15px 50px;

        @include max-media($bk-d-1440){
            padding: 15px 40px;
        }

        @include max-media($bk-d-1200){
            width: calc(100% / 2);
        }
        @include max-media($bk-576){
            width: 100%;
            padding: 10px;
        }
    }

    .head{
        margin-bottom: 40px;
        @include max-media($bk-d-1200){
            margin-bottom: 30px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 20px;
        }
    }

    .head-center{
        // max-width: 1076px;
        margin: 0 auto 40px;
        // border-bottom: 1px solid $b-cl;
        padding-bottom: 10px;
        text-align: center;
        position: relative;
        &::after{
            content: '';
            width: calc(100% / 12 * 8);
            height: 1px;
            position: absolute;
            bottom: 0;
            left:50%;
            transform: translateX(-50%);
            background-color: $b-cl;
            
        }
        @include max-media($bk-d-1200){
            margin-bottom: 30px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 20px;
        }

        .title{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .title{
        margin-bottom: 23px;
        display: flex;
        align-items: center;
        @include max-media($bk-d-1200){
            margin-bottom: 15px;
        }
    }

    .content{
        padding-top: 20px;
        @include max-media($bk-d-992){
            padding-top: 15px;
        }
    }

    .app-box{
        &:hover{
            .img{
                img{
                    transform:scale(1.1);
                }
            }
            .app-tt{
                color: $main-cl;
            }
        }
    }

    .img{
        display: block;
        border-radius: 20px;
        overflow: hidden;
        img{
            border-radius: 20px;
            transition:  all .3s ease;
        }
    }

    .app-tt{
        display: block;
        margin-bottom: 10px;
        transition: all .3s ease;
        @include max-media($bk-d-992){
            margin-bottom: 5px;
        }
    }

    .date{
        margin-bottom: 10px;
        @include max-media($bk-d-992){
            margin-bottom: 5px;
        }
    }

    .desc{
        @include line-clamp(3);
        line-height: 1.5;
        font-style: normal;
    }

 

   
}