.blog-detail{
    overflow: hidden;

    .blog-wrapper{
        max-width: 1016px;
        margin: 0 auto;
    }

    .head{
        margin-bottom: 20px;
    }

    .blog-title{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
       
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: #C4C4C4;
            position: absolute;
            bottom: 14px;
            right: 0;
            z-index: 0;
            @include max-media($bk-d-992){
                bottom: 11px;
            }
            @include max-media($bk-d-768){
                bottom: 0;
            }
        }

        .title{
            z-index: 1;
            position: relative;
            background-color: $g-F2F2-cl;
            max-width: 425px;
            @include max-media($bk-d-992){
                max-width: 360px;
            }
            @include max-media($bk-768){
                max-width: 330px;
            }
            @include max-media($bk-d-768){
                width: 100%;
               max-width: 100%;
            }
            br{
                display: none;
            }
        }

        .date{
            margin-left: auto;
            padding-bottom: 24px;
            @include max-media($bk-d-992){
                padding-bottom: 20px;
            }
            @include max-media($bk-d-768){
                padding: 10px 0 5px;
            }
        }
    }

    .content{
        line-height: 1.5;
    }

    .mona-ig{
        margin: 40px 0 45px;
        @include max-media($bk-d-1200){
            margin: 30px 0 35px;
        }
        @include max-media($bk-576){
            margin: 25px 0;
        }

        .img{
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            &::after{
                content: '';
                @include pos-full;
                background-color: rgba($color: $b-cl, $alpha: .4);
            }
        }

        img{
            border-radius: 20px;
        }

        .t-ig{
            margin-top: 32px;
            @include max-media($bk-d-1200){
                margin-top: 20px;
            }
        }
    }
}